@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}
body {
  width: 100%;
  height: calc(100vh - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Outfit", sans-serif;
  flex-direction: column;
  height: calc(100vh - 1px);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin: 0 auto;
  max-width: 900px;
}

.column {
  min-height: 200px;
  padding: 3rem;
  justify-content: center;
  align-items: center;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.column p {
  color: hsla(0, 0%, 100%, 0.75);

  font-size: 1rem;
  line-height: 1.4rem;
}

.icon {
  margin-bottom: 2rem;
  width: 3.5rem;
}

.btn {
  cursor: pointer;
  position: relative;
  padding: 0.7rem 1.7rem;
  border: none;
  background: none;
  outline: none;
  color: black;
  mix-blend-mode: screen;
  margin-top: 5rem;
}

.btn::before {
  border-radius: 15rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  content: "";
  mix-blend-mode: color-burn;
}

.btn:hover {
  background: none;
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}
.btn:hover::before {
  border: 2px solid hsl(0, 0%, 95%);
  background: none;
  background-color: transparent;
}

.main-container > :first-child {
  border-radius: 0.625rem 0 0 0.625rem;
  background-color: hsl(31, 77%, 52%);
}
.main-container > :nth-child(2) {
  background-color: hsl(184, 100%, 22%);
}
.main-container > :last-child {
  border-radius: 0 0.625rem 0.625rem 0;
  background-color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 700px) {
  .body {
    height: 100%;
    /* position: relative; */
  }
  .main-container {
    position: absolute;
    margin-bottom: 12rem;
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    top: 0;
    right: 0;
  }
  .main-container > :first-child {
    border-radius: 0.625rem 0.625rem 0 0;
  }
  .main-container > :last-child {
    border-radius: 0 0 0.625rem 0.625rem;
  }
  .btn {
    margin-top: 2rem;
  }
}
